.data-table td.no-expenses {
  text-align: center;
  padding: 1rem;
  color: #666;
  font-size: 1.1rem;
}

.data-table .amount {
  text-align: right;
  font-weight: bold;
}

.data-table .amount-input {
  text-align: right;
}



.tab {
  padding: 0.5rem 1rem;
  margin-left: 5px;
  border-radius: 4px 4px 0 0;
  transition: background-color 0.3s, color 0.3s;
}

.tab.active {
  text-decoration: underline;
  color: black;
  background-color: white;
  border-color: white;
}

